/*NAVBAR*/
header {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.marca-nav {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.container-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.container-navbar a {
    padding: 0 20px 0 20px;
    justify-content: flex-start;
}

.navbar-brand{
    font-size: 35px;
    font-weight: 400;
}

.bg-body-tertiary {
    box-shadow: 0px 13px 100px -30px rgba(0,0,0,0.1);
}

.header-a {
    display: flex;
    justify-content: end;
    margin: 0 0 0 50px;
}
