/*NAVBAR*/
header {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.marca-nav {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.container-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.container-navbar a {
    padding: 5px 20px 5px 20px;
    justify-content: flex-start;
    margin: 0;
    white-space: nowrap;
}

.container-navbar p {
    padding: 5px 10px 5px 10px;
    justify-content: flex-start;
    margin: 0 2px 0 2px;
}

.navbar-brand{
    font-size: 35px;
    font-weight: 400;
}

.bg-body-tertiary {
    box-shadow: 0px 13px 100px -30px rgba(0,0,0,0.1);
}

.header-a {
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 0 0 0 50px;
    animation: appear 0.9s ease-in-out forwards;
}

@keyframes appear {
  0% { opacity: 0; transform: translateX(-20px); }
  100% { opacity: 1; transform: translateX(0); }
}

//Animacion etiqueta a
.btn-dec {
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn-dec::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
  }
  
  .btn-dec:hover {
    color: #ffffff;
    transition-delay: 0.5s;
  }
  
  .btn-dec:hover::before {
    width: 100%;
  }
  
  .btn-dec::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn-dec:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: white;
  }
