.container-tittl-rec{
    margin: 100px 0 0 0;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.form-recover-pass input {
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
}

.input-email-rec {
    padding: 6px 5px;
    width: 300px;
}

.input-send-rec {
    background-color: black;
    color: white;
    padding: 6px 9px;
}

.input-send-rec:hover {
    background-color: rgb(34, 34, 34);
}
