.title-adm-prod {
    margin: 40px 0 0 0 ;
    text-align: center;
    font-weight: 300;
}

.form-contenedor-prodsadmin {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-users-table{
    margin: 90px 0 0 0;
}

.container-users-table h2 {
    font-weight: 300;

}

/* Estilo para la tabla de usuarios */
.admin-user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin-user-table th, .admin-user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-user-table td {
    text-align: center;
}

.admin-user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.admin-user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-user-table tr:hover {
    background-color: #ddd;
}

.admin-user-table th, .admin-user-table td {
    padding: 12px 15px;
}

.delete-user-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-user-btn:hover {
    background-color: #c82333;
}

.change-role-btn {
    background-color: rgb(209, 209, 40);
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 0 0 10px;
}

.change-role-btn:hover {
    background-color: rgb(190, 190, 38);
}

.option-clean-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin: 0 0 20px 0;
    width: 100%;
}

.option-clean-user h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 0 25px 0 10px;
}

.title-form-dlt-prod-adm {
    font-weight: 300;
    margin: 10px 0 20px 0;
    font-size: 20px;
    text-align: center;
}

.admin-input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-dlt-rprod-form{
    background-color: white;
    padding: 10px 50px 40px 50px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#admin-delete-product-id{ 
    margin: 0 0 10px 0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#admin-delete-product-button{
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    border: 1px solid rgb(138, 138, 138);
    background-color: #181818;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
}

#admin-delete-product-button:hover{
    background-color: rgb(46, 46, 46);
}


//Bton limpiar users inactivos

.clean-users-button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.clean-users-button:hover {
    background-color: #45a049; 
}