<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec" onclick="getToCart(event)">iStore</a>
            
            {{#if userInfo}}
                        {{#if isAdminUser}}
                            <a href="/productsaccesadmin" class="btn-dec">Admin Dashboard</a>
                        {{/if}}

                        <p><a href="/auth/change-rol-user" class="btn-dec">Profile</a></p>
                        <a id="deslog" href="/api/auth/logout" class="btn-dec">Logout</a>
                    {{else}}
                        <a href="/auth/login-view" class="btn-dec">Login</a>
                        <a href="/auth/register-view" class="btn-dec">Register</a>
                    {{/if}}
            </div>

        </div>
    </nav>
    </div>
</header>

<main>
<div class="container">
    <div class="titulo-home">
        <h1>Welcome {{userInfo.first_name}}!</h1>    
    </div>
</div>

{{#if userInfo}}
<div id="chat-button" onclick="toggleChat()">
        💬 Live chat
    </div>

    <div id="chat-window">
        <div id="chat-header">
            <span>Live chat 🟢</span>
            <button onclick="toggleChat()">✖</button>
        </div>

            <div id="chat-content">
                <p>Hello, dare to write!</p>
            </div>
            <div id="chat-input">
                <div id="chat-input">
                    <input type="text" placeholder="Escribe tu mensaje...">
                    <button>Send</button>
            </div>
    </div>
{{/if}}

</main>

<script src="/socket.io/socket.io.js"></script>
<script>
    const user = "{{userInfo.first_name}}"; 
    const errorMessage = "{{error_msg}}";
</script>
<script src="/js/home.js"></script>
<script src="/js/chat.js"></script>
