<header>
    <nav class="navbar bg-body-tertiary p-5 mt-2">
        <div class="container-navbar">
            <a href="http://localhost:8080" class="navbar-brand">IPhone Store</a>

            <div class="header-a">
            <a href="http://localhost:8080">Inicio</a>
            <a href="/productsview">Productos</a>
            <a href="/view/login-view"> Login</a>
            <a href="/view/register-view">Register</a>
            <a href="/auth/logout">Cerrar sesion</a>
            </div>

        </div>
    </nav>
</header>

<main>
<div class="container">
    <div class="titulo-home">
        <h1>Bienvenido/a {{userInfo.first_name}}!</h1>    
    </div>
</div>

</main>

<script src="/js/index.js"></script>