<div>
    <h1>Login</h1>

    <form action="/auth/login" method="post">
        <label for="">Email: </label>
        <input type="email" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">
        
        <a href="/auth/github">Acceder con Github</a>

        <input type="submit" value="Enviar">
    </form>
</div>