<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="http://localhost:8080" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="http://localhost:8080" class="btn-dec">Inicio</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            <a href="/auth/login-view" class="btn-dec"> Login</a>
            <a href="/auth/register-view" class="btn-dec">Register</a>
            </div>

        </div>
    </nav>
    </div>
</header>

<main>
    <div class="container">
        <h1>Recover password</h1>
        <p>Recuerda que tu email debe estar vinculado a un correo electronico donde puedas recibir el correo de restablecimiento</p>

        <div>
            <form action="/api/auth/recover-password" method="post"> 
                {{#if error_msg}}
                    <div style="color: red; font-size: 12px">{{error_msg}}</div>
                {{/if}}
                <input type="email" name="email" required>

                <input type="submit" value="Enviar correo de recuperacion">
            </form>
        </div>
    </div>
</main>