<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            <a href="/auth/login-view" class="btn-dec">Sign In</a>
            <a href="/auth/register-view" class="btn-dec">Sign Up</a>
            </div>

        </div>
    </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="container-tittl-rec">
            <h1>Recover password</h1>
            <hr>
            <p>Remember that your email must be linked to an email address where you can receive the reset email.</p>
            
            <form class="form-recover-pass" id="recover-password-form">
                <input class="input-email-rec" type="email" name="email" placeholder="Enter your email" required>
                <input class="input-send-rec"  type="submit" value="Send recovery email">
            </form>

    </div>
</main>

<script>
    document.getElementById('recover-password-form').addEventListener('submit', async (event) => {
        event.preventDefault();

        const email = event.target.email.value;

        try {
            const response = await fetch('/api/auth/recover-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email }),
            });

            const result = await response.json();

            if (result.success) {
                Toastify({
                    text: "Email sent successfully.",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    offset: {
                    y: 160 
                    },
                    backgroundColor: "#4caf50",
                }).showToast();
            } else {
                Toastify({
                    text: result.message || "Failed to send email.",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#f44336",
                }).showToast();
            }
        } catch (error) {
            Toastify({
                text: "Error: " + error.message,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "#f44336",
            }).showToast();
        }
    });
</script>