<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/">Home</a>
            <a href="/productsview">iStore</a>
            <a href="/auth/login-view"> Sign In</a>
            <a href="/auth/register-view">Sign Up</a>
            </div>

        </div>
    </nav>
    </div>
</header>

<div class="container">
    
    <div class="form-contenedor-login">
    <form action= "/api/auth/register" method="post" class="form">
        <p class="form-title">Sign Up</p>
        
        
        <div class="input-container">
            <input  type="text" name="first_name" placeholder="Nombre" required>
        </div>

        <div class="input-container">
            <input type="text" name="last_name" placeholder="Apellido" required>
        </div>

        <div class="input-container">
            <input type="number" name="age" placeholder="Edad" required>
        </div>

        <div class="input-container">
            <input type="email" name="email" placeholder="Enter email" required>
            <span>
            </span>
        </div>
    
        <div class="input-container">
            <input type="password" name="password" placeholder="Enter password" required>
        </div>

            <input id="button-aut-send" type="submit" value="Sign up" class="submit">
        </input>

    <p class="signup-link">
        Have an account?
        <a href="/auth/login-view">Log in</a>
    </p>
    </form>
    </div>

</div>

