<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            <a href="/auth/login-view" class="btn-dec"> Login</a>
            <a href="/auth/register-view" class="btn-dec">Register</a>
            </div>

        </div>
    </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="container-all-restorepass">
            <h1>Reset password</h1>
            <hr>
            <p>Please enter your new password and confirm it.</p>


            <form action="/api/auth/restore-password" method="post">
            {{#if error_msg}}
                <div class="error-restore">{{error_msg}}</div>
            {{/if}}

            <input type="hidden" name="token" value="{{token}}">
            <div class="container-input-label-res">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required placeholder="New Password">
            
            
                <label id="label-confirm" for="confirmPassword">Confirm new password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm new password">

                <input class="butt-res-pass" type="submit" value="Restore password">
            </div>
        </form>
        </div>
    </div>
</main>

<script>



</script>