@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f2f3f9;
  margin: 0 auto;
}

/*NAVBAR*/
header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.marca-nav {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.container-navbar a {
  padding: 5px 20px 5px 20px;
  justify-content: flex-start;
  margin: 0;
}

.container-navbar p {
  padding: 5px 10px 5px 10px;
  justify-content: flex-start;
  margin: 0 2px 0 2px;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 400;
}

.bg-body-tertiary {
  box-shadow: 0px 13px 100px -30px rgba(0, 0, 0, 0.1);
}

.header-a {
  display: flex;
  width: 100%;
  justify-content: end;
  margin: 0 0 0 50px;
  animation: appear 0.9s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn-dec {
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-dec::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000000;
  transition: 0.5s ease;
}

.btn-dec:hover {
  color: #ffffff;
  transition-delay: 0.5s;
}

.btn-dec:hover::before {
  width: 100%;
}

.btn-dec::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #000000;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-dec:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: white;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-container:hover .card-img-top {
  transform: scale(1.2);
}

svg {
  padding: 0 0 2px 0;
}

/*DIV BOXCHAT*/
.chatbox {
  width: 100%;
  height: 75vh;
  border: 1px solid rgb(145, 145, 145);
  margin: 10px 0 20px 0;
  overflow: auto;
}

.titulo-home {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.titulo-home h1 {
  font-size: 50px;
  font-weight: 200;
}

.container h1 {
  text-align: center;
  margin: 40px 0 0 0;
}

.form-contenedor-login {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  display: block;
  padding: 1.5rem;
  max-width: 350px;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

#button-aut-send {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #181818;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #333333;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 10px 0 0 0;
}

.signup-link a {
  text-decoration: underline;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.title-adm-prod {
  margin: 20px 0 0 0;
  text-align: center;
}

.form-contenedor-prodsadmin {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-body {
  padding: 1rem 1rem 1rem 1rem;
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
}

.CartBtn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: rgb(246, 246, 246);
  background: linear-gradient(180deg, rgb(246, 246, 246) 9%, rgb(244, 244, 244) 53%, rgb(246, 246, 246) 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  border: 1px solid rgb(209, 209, 209);
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  padding: 14px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 0.9em;
  font-weight: 500;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.img_portada {
  background-image: url("https://www.apple.com/v/iphone-15/c/images/overview/welcome/hero_endframe__e0ajd2ayxqc2_large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.title-cart {
  font-size: 25px;
  margin: 30px 0 0 50px;
  font-weight: 500;
}

.cart-item {
  width: 100%;
  height: 10rem;
  border: 1px solid #ccc;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.quantity-controls button {
  margin: 0 5px;
}

.container-buttons-quantity {
  display: flex;
  border: 1px solid black;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
}

.container-buttons-quantity button {
  border: none;
  background-color: transparent;
  padding: 3px 5px 3px 5px;
  font-size: 20px;
}

.remove-button {
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 0 35px 0 15px;
}

.contenedor-carrito {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-carrito p {
  padding: 12px 0 0 0;
}

.contenedor-carrito img {
  width: 5rem;
}

.contenedor-title-description {
  display: flex;
  width: 55%;
}

.button-retrn-store {
  font-weight: 600;
}

.button-retrn-store:hover {
  color: rgb(41, 41, 41);
  text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.54);
}

.contenedor-cartItms-cartTlItms {
  display: grid;
  gap: 32px;
  grid-template-columns: calc(100% - 300px) auto;
  height: auto;
  margin: 32px auto 44px;
  max-width: 1200px;
}

.cartTotalItemsClass {
  background-color: white;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 10px 30px 10px 30px;
  width: 100%;
  margin: 10px 0 0 0;
}

.titulo-item-price {
  padding: 10px 10px 0 0;
}

.titulo-item-price h3 {
  font-size: 14px;
  text-align: start;
  font-weight: 600;
}

.total-item-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total-item-price p {
  font-size: 12px;
}

.total-final {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total-final p {
  font-size: 16px;
  font-weight: 500;
}

.button-compra-final button {
  display: block;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #181818;
  color: #ffffff;
  font-size: 0.73rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.button-compra-final button:hover {
  background-color: #222222;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 10px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: rgb(34, 34, 34);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}

.button:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

.ticket {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
