@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f2f3f9;
  margin: 0 auto;
}

/*NAVBAR*/
header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.marca-nav {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.container-navbar a {
  padding: 5px 20px 5px 20px;
  justify-content: flex-start;
  margin: 0;
  white-space: nowrap;
}

.container-navbar p {
  padding: 5px 10px 5px 10px;
  justify-content: flex-start;
  margin: 0 2px 0 2px;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 400;
}

.bg-body-tertiary {
  box-shadow: 0px 13px 100px -30px rgba(0, 0, 0, 0.1);
}

.header-a {
  display: flex;
  width: 100%;
  justify-content: end;
  margin: 0 0 0 50px;
  animation: appear 0.9s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn-dec {
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-dec::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000000;
  transition: 0.5s ease;
}

.btn-dec:hover {
  color: #ffffff;
  transition-delay: 0.5s;
}

.btn-dec:hover::before {
  width: 100%;
}

.btn-dec::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #000000;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-dec:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: white;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-container:hover .card-img-top {
  transform: scale(1.2);
}

svg {
  padding: 0 0 2px 0;
}

.contenedor-create-prod-prem {
  margin: 10px 0 0 0;
  width: 200px;
}

/*DIV BOXCHAT*/
.chatbox {
  width: 100%;
  height: 75vh;
  border: 1px solid rgb(145, 145, 145);
  margin: 10px 0 20px 0;
  overflow: auto;
}

.titulo-home {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.titulo-home h1 {
  font-size: 53px;
  font-weight: 200;
}

#chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #181818;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
}

#chat-button:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden;
}

#chat-header {
  background-color: #181818;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#chat-content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  word-wrap: break-word;
  background-color: #f1f1f1;
  font-size: 13px;
}

#chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  align-items: center;
}

#chat-input input {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  box-sizing: border-box;
}

#chat-input input::placeholder {
  font-size: 12px;
}

#chat-input button {
  padding: 12px;
  background-color: #181818;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  width: 80px;
  font-size: 13px;
}

.custom-toast {
  font-size: 14px;
}

.form-contenedor-login {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  display: block;
  padding: 1.5rem;
  max-width: 350px;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

#button-aut-send {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #181818;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #333333;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 10px 0 0 0;
}

.signup-link-recover {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 10px 0 0 0;
  text-decoration: none;
}

.signup-link-recover:hover {
  text-decoration: underline;
}

.signup-link a:hover {
  text-decoration: underline;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.title-adm-prod {
  margin: 40px 0 0 0;
  text-align: center;
  font-weight: 300;
}

.form-contenedor-prodsadmin {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-users-table {
  margin: 90px 0 0 0;
}

.container-users-table h2 {
  font-weight: 300;
}

/* Estilo para la tabla de usuarios */
.admin-user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-user-table th, .admin-user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.admin-user-table td {
  text-align: center;
}

.admin-user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.admin-user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-user-table tr:hover {
  background-color: #ddd;
}

.admin-user-table th, .admin-user-table td {
  padding: 12px 15px;
}

.delete-user-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-user-btn:hover {
  background-color: #c82333;
}

.change-role-btn {
  background-color: rgb(209, 209, 40);
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 0 0 10px;
}

.change-role-btn:hover {
  background-color: rgb(190, 190, 38);
}

.option-clean-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  margin: 0 0 20px 0;
  width: 100%;
}

.option-clean-user h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0 25px 0 10px;
}

.title-form-dlt-prod-adm {
  font-weight: 300;
  margin: 10px 0 20px 0;
  font-size: 20px;
  text-align: center;
}

.admin-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-dlt-rprod-form {
  background-color: white;
  padding: 10px 50px 40px 50px;
  margin: 20px 0 0 0;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#admin-delete-product-id {
  margin: 0 0 10px 0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#admin-delete-product-button {
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  border: 1px solid rgb(138, 138, 138);
  background-color: #181818;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

#admin-delete-product-button:hover {
  background-color: rgb(46, 46, 46);
}

.clean-users-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.clean-users-button:hover {
  background-color: #45a049;
}

.card-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-body {
  padding: 1rem 1rem 1rem 1rem;
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
}

.CartBtn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: rgb(246, 246, 246);
  background: linear-gradient(180deg, rgb(246, 246, 246) 9%, rgb(244, 244, 244) 53%, rgb(246, 246, 246) 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  border: 1px solid rgb(209, 209, 209);
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  padding: 14px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 0.9em;
  font-weight: 500;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.img_portada {
  background-image: url("https://www.apple.com/v/iphone-15/c/images/overview/welcome/hero_endframe__e0ajd2ayxqc2_large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.boton-next-prod {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.boton-next-prod a {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.boton-next-prod a:hover {
  background-color: rgb(37, 37, 37);
}

.boton-atras-prod {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.boton-atras-prod a {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.boton-atras-prod a:hover {
  background-color: rgb(37, 37, 37);
}

.title-cart {
  font-size: 25px;
  margin: 30px 0 0 50px;
  font-weight: 500;
}

.cart-item {
  width: 100%;
  height: 10rem;
  border: 1px solid #ccc;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.quantity-controls button {
  margin: 0 5px;
}

.container-buttons-quantity {
  display: flex;
  border: 1px solid black;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
}

.container-buttons-quantity button {
  border: none;
  background-color: transparent;
  padding: 3px 5px 3px 5px;
  font-size: 20px;
}

.remove-button {
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 0 35px 0 15px;
}

.contenedor-carrito {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-carrito p {
  padding: 12px 0 0 0;
}

.contenedor-carrito img {
  width: 5rem;
}

.contenedor-title-description {
  display: flex;
  width: 55%;
}

.button-retrn-store {
  font-weight: 600;
}

.button-retrn-store:hover {
  color: rgb(41, 41, 41);
  text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.54);
}

.contenedor-cartItms-cartTlItms {
  display: grid;
  gap: 32px;
  grid-template-columns: calc(100% - 300px) auto;
  height: auto;
  margin: 32px auto 44px;
  max-width: 1200px;
}

.cartTotalItemsClass {
  background-color: white;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 10px 30px 10px 30px;
  width: 100%;
  margin: 10px 0 0 0;
}

.titulo-item-price {
  padding: 10px 10px 0 0;
}

.titulo-item-price h3 {
  font-size: 14px;
  text-align: start;
  font-weight: 600;
}

.total-item-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total-item-price p {
  font-size: 12px;
}

.total-final {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total-final p {
  font-size: 16px;
  font-weight: 500;
}

.button-compra-final button {
  display: block;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #181818;
  color: #ffffff;
  font-size: 0.73rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.button-compra-final button:hover {
  background-color: #222222;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 10px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: rgb(34, 34, 34);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}

.button:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

.titulo-comprador {
  text-align: center;
  margin: 55px 0 0 0;
}

.tipo-factura {
  text-align: start;
}

.titulo-comprador h2 {
  font-weight: 400;
  text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.66);
}

.container-ticket {
  display: flex;
  justify-content: center;
}

.ticket {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  height: 470px;
  padding: 20px;
  margin: 5px 0 0 0;
}

.ticket h3 {
  font-style: italic;
}

.url-page-p {
  font-style: italic;
}

.button-atras-a {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0;
}

.button-atras-a button {
  display: block;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #181818;
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 300px;
  border-radius: 0.5rem;
}

.button-atras-a button:hover {
  background-color: #1f1f1f;
}

.container-change-rol {
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 30px;
  background: #fff;
  box-shadow: 0px 10px 32px 19px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-change-rol h1 {
  font-weight: 400;
  margin: 0 0 14px 0;
}

.container-change-rol ul {
  color: rgb(163, 20, 20);
  font-size: 16px;
}

.form-uploaddoc select {
  margin: 0 0 0 7px;
  padding: 5px 10px;
  border-color: rgb(119, 119, 119);
  border-radius: 4px;
}

.form-uploaddoc input {
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  border-color: transparent;
}

.container-change-rol h2 {
  font-weight: 400;
  margin: 10px 0 15px 0;
  font-size: 27px;
}

.form-subir-arch label {
  margin: 10px 0 0 0;
}

.form-subir-arch input {
  margin: 10px 0 0 0;
}

.form-subir-arch input[type=submit] {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border-color: transparent;
  margin: 15px 0 0 0;
}

#messages {
  margin: 10px 0 0 0;
}

.container-etiq-a-prem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin: 50px 0 10px 0;
}

.container-etiq-a-prem a {
  font-weight: 300;
  font-style: italic;
}

.container-etiq-a-prem a:hover {
  text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.54);
}

.container-h1-crprodprem h1 {
  font-weight: 300;
  margin: 30px 0 0 30px;
}

.preview-container {
  border: 1px solid rgb(179, 178, 178);
  border-radius: 10px;
  background-color: white;
  margin: 0 0 0 50px;
  height: 100%;
}

.preview-container h2 {
  font-weight: 400;
  margin: 10px 0 0 20px;
}

.contenedor-create-prod-prem {
  display: flex;
  width: 100%;
  margin: 30px 30px 30px 50px;
}

.contenedor-create-prod-prem form {
  width: 20%;
}

.contenedor-create-prod-prem input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 3px;
}

.contenedor-create-prod-prem textarea {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}

.contenedor-create-prod-prem select {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 5px;
  margin: 3px 0 0 0;
}

.contenedor-create-prod-prem button {
  background-color: black;
  color: white;
  padding: 5px 73px;
  border-color: transparent;
  border-radius: 5px;
  margin: 15px 0 0 0;
}

.form-container {
  width: 48%;
}

.preview-card-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.preview-card {
  width: 100%;
  max-width: 18rem;
  margin: 0.5rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.preview-card-body {
  padding: 1rem;
}

.preview-CartBtn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: rgb(246, 246, 246);
  background: linear-gradient(180deg, rgb(246, 246, 246) 9%, rgb(244, 244, 244) 53%, rgb(246, 246, 246) 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  border: 1px solid rgb(209, 209, 209);
}

.preview-IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.preview-icon {
  border-radius: 1px;
}

.preview-text {
  height: 100%;
  width: fit-content;
  padding: 14px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 0.9em;
  font-weight: 500;
}

.preview-CartBtn:hover .preview-IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.preview-CartBtn:hover .preview-text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.preview-CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.container-img img {
  width: 30%;
  position: absolute;
  bottom: 13vh;
  left: 120vh;
  box-shadow: 0px 19px 40px 11px rgba(0, 0, 0, 0.1);
}

#delete-product-form h2 {
  margin: 30px 0 0 0;
  font-size: 25px;
}

#delete-product-form {
  margin: 0 0 30px 0;
}

#delete-product-form input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 3px;
}

#delete-product-btn {
  background-color: black;
  color: white;
  padding: 4px 73px;
  border-color: transparent;
  border-radius: 5px;
  margin: 15px 0 0 0;
}

.container-tittl-rec {
  margin: 100px 0 0 0;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

.form-recover-pass input {
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}

.input-email-rec {
  padding: 6px 5px;
  width: 300px;
}

.input-send-rec {
  background-color: black;
  color: white;
  padding: 6px 9px;
}

.input-send-rec:hover {
  background-color: rgb(34, 34, 34);
}

.container-all-restorepass {
  margin: 100px 0 0 0;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

#newPassword {
  padding: 6px 5px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}

#confirmPassword {
  padding: 6px 5px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}

.container-input-label-res {
  display: inline-block;
}

#label-confirm {
  margin: 0 2px 0 10px;
}

.butt-res-pass {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 6px 8px;
  border: 1px solid transparent;
  margin: 0 0 0 10px;
}

.butt-res-pass:hover {
  background-color: rgb(34, 34, 34);
}

.error-restore {
  font-size: 12px;
  color: red;
  margin: 0 0 10px 0;
}

.container-product-principal {
  margin-top: 9vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enlace-prod-specif {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 20px;
  font-size: 15px;
  gap: 10px;
  width: 70%;
}

.enlace-prod-specif a:hover {
  color: rgb(95, 95, 95);
}

.enlace-prod-specif p {
  color: rgb(78, 78, 78);
}

.contianer-prod-countain {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 70%;
  height: 500px;
  box-shadow: 0px 10px 61px 31px rgba(77, 77, 77, 0.1);
}

.img-cont-prod {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img-cont-prod img {
  width: 65%;
}

.info-content-prod {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(187, 187, 187);
  padding: 25px 15px 10px 15px;
  border-radius: 20px;
  width: 60%;
}

.info-content-prod h3 {
  font-size: 1.5vw;
  font-weight: 600;
}

.info-content-prod h4 {
  font-size: 1.3vw;
  font-weight: 400;
}

.info-content-prod h5 {
  font-size: 1.7vw;
  font-weight: 500;
  color: rgb(99, 173, 111);
}

.info-content-prod p {
  font-size: 0.8vw;
  color: rgb(102, 102, 102);
}

.info-content-prod span {
  font-size: 0.8vw;
  margin: 10px 0 0 0;
  color: rgb(99, 173, 111);
}

.info-content-prod i {
  padding: 0 5px 0 0px;
}

.info-content-prod h6 {
  margin: 15px 0 6px 0;
  font-weight: 300;
}

.info-content-prod h7 {
  color: rgb(128, 128, 128);
  font-size: 1vw;
}

.info-content-prod button {
  color: white;
  background-color: black;
  padding: 12px 0 12px 0;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  align-self: center;
  border: none;
  font-size: 1vw;
}

.info-content-prod button:hover {
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.1);
}

.tarjt-containers {
  display: flex;
  gap: 8px;
  margin: 0 0 6px 0;
}

.img-tarjets {
  width: 15%;
  height: 90%;
}

/*# sourceMappingURL=styles.css.map */
